.modal__bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 501;
	display: none
}
.modal {
	max-width: 740px;
	width: 100vw;
	/* max-height: 80vh; */
	/* new 1 */
	max-height: calc(100vh - 32px);
	background: #fff;
	padding: 84px 24px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
	display: none;
	overflow-y: auto;
	border-radius: 10px;
}
.modal__content {
	max-height: 100vh;
}
.modal__close {
	top: 30px;
	right: 20px;
	position: absolute;
	cursor: pointer;
	width: 60px;
	height: 40px;
	border: solid 1px #4F555B1A;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.modal__close:hover {
	background: rgba(79, 85, 91, 0.06);
}
.modal__img {
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 40px;
}
.modal__img img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}
.modal__date {
	margin-bottom: 8px;
	font-family: TT Backwards Sans Trial;
	font-weight: 300;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #5C5C5C;

}
.modal__title {
	font-weight: 400;
	font-size: 42px;
	line-height: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #202020;
	margin-bottom: 24px;
}
.modal__title_before-text {
	margin-bottom: 30px
}
.modal__text {
	font-family: TT Backwards Sans Trial;
	font-weight: 300;
	font-size: 18px;
	line-height: 160%;
	color: #5C5C5C;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 20px;
}
.modal__button {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: calc(100% - 48px);
	background: #fff;
	padding-top: 24px;
	padding-bottom: 24px;
}
.btn_news_ds {
	opacity: 0.4;
	cursor: auto;
}

@media (max-width: 450px) {

	.modal {
		padding: 65px 12px;
	}
	.modal__close {
		top: 12px;
		right: 12px;
	}
	.modal__button {
		width: calc(100% - 24px);
		padding-top: 10px;
		padding-bottom: 10px;
	}

}
@media (max-width: 1000px) {
	.modal {
		max-width: 100%;
		top: 0;
		left: 0;
		width: 100%;
		transform: translate(0);
		max-height: 100vh;
		border-radius: 0px;
		/* new 1 */
		height: 100vh;
	}
}